<SQLStore className="GroupMessage">
    <SQL name="createTable">
        CREATE TABLE IF NOT EXISTS group_message (
        messageId TEXT PRIMARY KEY,
        fromId TEXT,
        groupId TEXT,
        ownerId TEXT,
        messageBody TEXT,
        messageContentType TEXT,
        messageTime INTEGER,
        messageType TEXT,
        readStatus INTEGER,
        sequence INTEGER,
        extra TEXT
        )
    </SQL>
    <SQL name="findMessage">
        SELECT
        *
        FROM
        ( SELECT * FROM group_message WHERE groupId = #{groupId} and ownerId = #{ownerId} ORDER BY messageTime DESC
        LIMIT #{num}, #{size}) AS subquery
        ORDER BY
        subquery.messageTime ASC
    </SQL>

    <SQL name="findMessageCount">
        SELECT count(*) FROM group_message WHERE groupId = #{groupId}
    </SQL>

</SQLStore>

